@font-face {
  font-family: "iconfont"; /* Project id 4122349 */
  src: url('iconfont.woff2?t=1686811880740') format('woff2'),
       url('iconfont.woff?t=1686811880740') format('woff'),
       url('iconfont.ttf?t=1686811880740') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanze:before {
  content: "\e67b";
}

.icon-tuozhuai:before {
  content: "\e656";
}

.icon-ic_qingkong:before {
  content: "\e609";
}

.icon-a-liuchengfenlei2:before {
  content: "\e627";
}

.icon-a-zuzhiguanli2:before {
  content: "\e628";
}

.icon-a-wodexiaoxi2:before {
  content: "\e629";
}

.icon-a-xinxifabu2:before {
  content: "\e62a";
}

.icon-a-xinchoutixi2:before {
  content: "\e62b";
}

.icon-caozuoxitong:before {
  content: "\e617";
}

.icon-chanpinguige:before {
  content: "\e618";
}

.icon-peizhitiku:before {
  content: "\e603";
}

.icon-rili:before {
  content: "\e604";
}

.icon-zhanghao:before {
  content: "\e669";
}

.icon-shuaxin:before {
  content: "\e66a";
}

.icon-shangchuan:before {
  content: "\e671";
}

.icon-sucai:before {
  content: "\e602";
}

.icon-yunduanxiazai:before {
  content: "\ec1d";
}

.icon-xiangmu:before {
  content: "\e64c";
}

.icon-shujuku:before {
  content: "\e625";
}

.icon-warning:before {
  content: "\e605";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-caidan:before {
  content: "\e652";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-icon-cross-empty:before {
  content: "\e65c";
}

.icon-fsux_tubiao_fenbuquxiantu:before {
  content: "\e601";
}

.icon-xitong:before {
  content: "\e835";
}

.icon-gl-arrowRd:before {
  content: "\eb6a";
}

.icon-xitong1:before {
  content: "\e62c";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-byangtiaoquxian:before {
  content: "\eddb";
}

.icon-a-18:before {
  content: "\e607";
}

.icon-weixuanzhongyuanquan:before {
  content: "\e600";
}

.icon-line:before {
  content: "\e653";
}

.icon-gl-square:before {
  content: "\ea98";
}

.icon-tubiao:before {
  content: "\e636";
}

.icon-Shankar:before {
  content: "\e6a9";
}

